html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.clearfix:after {
  content: " ";
  display: none;
  width: 0;
  height: 0;
  visibility: hidden;
  clear: both;
  line-height: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
}

#container {
  width: 1120px;
  background: #d43d4d;
  //  margin-left: $site-action;
  margin: 0 auto;
  overflow: hidden;
}

#main {
  float: left;
}

#footer {
  padding: 1px;
}

.widget {
  margin-top: 20px;
  padding-top: 20px;
  border-top:1px solid #e5e5e5;
}



/*
fontawesome
*/

/*! custom Font*/
font-url(filename)
return '../font/' + filename

customfont(family, filename)
@font-face
font-family family
font-weight normal
font-style normal
src url(font-url(filename + '.eot'))
src url(font-url(filename + '.eot?#iefix')) format('embedded-opentype'),
url(font-url(filename + '.svg#'+ family)) format('svg'),
url(font-url(filename + '.woff')) format('woff'),
url(font-url(filename + '.ttf')) format('truetype')

customfont(font-custom-family,font-custom-filename)

/*! icon Font */
iconfont(family, filename,font-icon-version)
@font-face
font-family family
font-style normal
font-weight normal
src url(font-url(filename + ".eot?v=#" + font-icon-version))
src url(font-url(filename + ".eot?#iefix&v=#" + font-icon-version)) format("embedded-opentype"),
url(font-url(filename + ".woff?v=#" + font-icon-version)) format("woff"),
url(font-url(filename + ".ttf?v=#" + font-icon-version)) format("truetype"),
url(font-url(filename + ".svg#fontawesomeregular?v=#" + font-icon-version)) format("svg")

iconfont(font-icon-family,font-icon-filename,font-icon-version)
