//-page.posts.each(function(item){
article
    header(class="entry-header")
        h2(class="entry-title")
            a(href="#{item.path}")= item.title
        div(class="entry-meta")
            span(class="byline") By
                span(class="author vcard")
                    a(class="url fn n" href="http://demo.designwall.com/dw-minion/?author=9" title="View all posts by Ruth Clem")  Ruth Clem
            span(class="cat-links")  in
                a(href="http://demo.designwall.com/dw-minion/?cat=6" title="View all posts in Delicious" rel="category")  Delicious
                | ,
                a(href="http://demo.designwall.com/dw-minion/?cat=2" title="View all posts in Freelancing" rel="category")  Freelancing
                | ,
                a(href="http://demo.designwall.com/dw-minion/?cat=4" title="View all posts in Photography" rel="category")  Photography
                span(class="sep")
                    span(class="post-format")
                        i(class="icon-file-text")
                span(class="posted-on")
                    a(href="http://demo.designwall.com/dw-minion/?p=33" title="12:00 am" rel="bookmark")
                        i(class="icon-calendar-empty")
                        time(class="entry-date published" datetime="#{item.updated}") June 20, 2013
                            = article
                            //+date(article.date)
                //span(class="comments-link")
                //    a(href="http://demo.designwall.com/dw-minion/?p=33#comments" title="Comment on The Inside Secrets Of Millionaires Under The Age Of 29")
                //        i(class="icon-comment-alt")
                //        | 9 Comments
    //div(class="entry-thumbnail")
        a(href="http://www.baidu.com/")
            img(src="http://demo.designwall.com/dw-minion/wp-content/uploads/the-inside-secrets-of-millionaires-under-the-age-of-29.jpg")
    div(class="entry-content")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        a(class="more-link" href="#")
            span(class="btn btn-small") Continue reading
//-})