head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    if config.author
        meta(name='author', content=config.author)

    -var title= page.title
    title=title

    if (is_archive())
        title __('Archives')
    else if(is_category())
        title __('categories')
    else if(is_tag())
        title __('tags')


    link(rel="stylesheet", href=config.root + "css/font-awesome.min.css")
    link(rel="stylesheet", href=config.root + "css/style.css")