div(id="main")
    include article_meta
    p #{page.posts}
    ////include article
    //p= page.total
    //-for(var key in page){
    //    p
    //        span= key
    //        span -----
    //        span= page[key]
    //        span -----
    //        span= typeof page[key]
    //-}
    //
    //p page.layout
    //p= page.layout

    include pagination
