.archive-header{
  font-size:2em;
  margin-bottom:3em;
  border-bottom:5px solid #333333;
  [class^="icon-"]{
    margin-right:0.25em;
  }
}

.archive-page{
  .entry-meta{
    .sep{
      margin-right:110px;
    }
    .posted-on{
      float:right;
      margin-top:-22px;
    }
  }
}
