// widget
// ------------

.widget {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #e5e5e5;
  font-size: 1.4em;
  li {
    /*font-size: 14;*/
    line-height: 20px;
  }
}

[class*="widget"] .widget-title {
  /* text-transform: uppercase; */
  line-height: 20px;
  font-weight: 500;
  margin-top: 0;
}

// button
// ------------

.btn {
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 0;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #ffffff;
  border: none;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #333333;
  text-transform: capitalize;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  transition(background 0.2s);
  &:hover {
    background-color: #7cc576;
    text-decoration: none;
    color: #ffffff;
  }
}

.btn-small {
  line-height: 20px;
  font-size: 12px;
  padding: 5px 12px;
}

.more-link {
  margin-top: 30px;
  display: block;
}

// Icon
[class^="icon-"]::before, [class*=" icon-"]::before {
  display: inline-block;
  speak: none;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}


.icon-file-text::before {
  content: "\f15c";
}

.icon-calendar-empty::before {
  content: "\f133";
}

.icon-comment-alt::before {
  content: "\f0e5";
}

.icon-chevron-left::before {
  content: "\f053";
}
.icon-chevron-right::before {
  content: "\f054";
}

