<% if( table&&(item.toc !== false) && theme.toc.aside){ %>
  <div id="toc" class="toc-aside">
  <strong class="toc-title"><%= __('contents') %></strong>
  <%- toc(item.content) %>
  </div>
<% } %>
<div id="asidepart">
<aside class="clearfix">
<% theme.widgets.forEach(function(widget){ %>
  <%- partial('../_widget/' + widget) %>
<% }); %>
</aside>
</div>