header(class="article-header")
    h1(class="article-title")
        a(href="#{item.path}")= item.title
    div(class="article-meta")
        span(class="sep")
            span(class="post-format")
                i(class="icon-file-text")
        span(class="posted-on")
            i(class="icon-calendar-empty")
            time(class="article-date published" datetime="#{item.updated}")= item.date.format(config.date_format)
