if item.tags && item.tags.length
    div(class="article-tags")
        -var tags = []
        -item.tags.forEach(function(tag){
            -tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>')
        -})
        i(class="icon-tags")
        !{tags.join('')}

if item.categories && item.categories.length
    div(class="article-categories")
        i(class="icon-category")
        !{list_categories(item.categories,{show_count:false,class:'article-category',style:'none',separator:'|'})}