-var item = page
-var index = false
-var table = true
article
    include article_header
    div(class="article-content")
        include gallery
        if table&&(item.toc !== false) && theme.toc.article
            div(id="toc" class="toc-article")
                strong(class="toc-title")= __('contents')
            !=toc(item.content)
        !=item.content
    include article_footer
include article_comment
