.article-list {
  overflow:hidden;
  article {
    padding-bottom: 36px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 70px;
  }
}
.article-title {
  font-size: 3em;
  margin-top: -5px;
}

.archive-header {
  margin-bottom: 40px;
  .icon-tag, .icon-tags, .icon-category, .icon-archive {
    display: inline-block;
    width: 40px;
    height: 40px;
  }
}
.icon-tag::before{
  content: "\f02b";
}
.icon-tags::before{
  content: "\f02c";
}
.icon-archive::before{
  content: "\f187";
}
.icon-category::before{
  content: "\f07b";
}


.article-thumbnail {
  margin-bottom: 30px;
}
.article-date{
  vertical-align: middle;
}
.article-meta {
  color: gray7;
  margin-bottom: 40px;
  font-size: 1.2em;
  a {
    color: primary-color;
  }
  .sep {
    display: block;
    border-top: 1px solid #ececec;
    position: relative;
    margin: 15px 60px 10px 0;
  }
  .post-format {
    position: absolute;
    right: -60px;
    top: -25px;
    padding: 5px;
    background: #f5f5f5;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
  }
  .icon-file-text {
    width: 38px;
    height: 38px;
    border: 1px solid #e5e5e5;
    color: #dddddd;
    display: block;
    line-height: 38px;
    text-align: center;
    background-color: #ffffff;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
  }
  .posted-on, .comments-link {
    font-size: 12px;
    line-height: 20px;
    margin-right: 10px;
    a {
      color: gray7;
      &:hover {
        color: primary-color;
        text-decoration: none;
      }
    }
    [class^="icon-"] {
      margin-right: 6px;
    }
  }
}

.article-content{
  font-size:1.4em;
}

.article-footer{
  padding:1.5em 0;
  a {
    display: inline-block;
    padding: 3px 10px;
    margin: 0 5px 0px 5px;
    color: #999999;
    background: #f5f5f5;
    font-size:1.2em;
    border-radius: 2px;
    &:hover{
      color:#fff;
      background:#7cc576;
    }
  }
  [class^="icon-"]{
    font-size:1.6em;
    margin-right:8px;
  }
}
.article-tags,.article-categories{
  display: inline-block;
  width:50%;
}
