#navigation {
  float: left;
  width: nav-width;
  a {
    color: #333;
    &:hover {
      color: primary-color ;
      text-decoration: underline;
    }
  }
}

#site-header {
  .profile {
    img {
      width: 120px;
      height: 120px;
      border-radius: 100%;
    }
  }
  .site-subtitle {
    font-size: 18px;
    font-weight: blod;
    color: #343434;
    margin: 0 0 12.5px;
  }
  .site-description {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #aaaaaa;
    font-size: 12px;
    line-height: 20px;
    margin: 12.5px 0 0;
  }
}

.main-sidebar {
  ul {
    > li {
      line-height: 30px;
      font-size: 14px;
    }
    a {
      display: block;
    }
  }
}

.widget-categories ul > li:before {
  content: "\f115";
  font-family: FontAwesome;
  margin-right: 10px;
  font-size: 14px;
}

.widget-tagcloud {
  a {
    display: inline-block;
    padding:2px;
    margin:2px;
  }
}
