aside(id="site-tags" class="widget widget-tags")
	h2(class="widget-title")= __('tags')
	div(class="widget-tagcloud")
		-site.tags.sort("name").each(function(item){
			a(href=config.root+item.path)=item.name
				sup #{item.length}
		-})