doctype html

if config.language
    html(lang="#{config.language}")
else
    html(lang="en")

include _partial/head

body

    div(class="wrapper")
        include _partial/toolbar
        include _partial/container
