doctype html
html
  head
    title Document
    link(rel='stylesheet', href='css/base.css')
  body
    div(class="wrapper")
        include _widget/sidebar.jade
        include _widget/header.jade
        include _widget/main.jade

        include _widget/footer.jade