doctype html
if config.language
	html(lang="#{config.language}")

		head
			meta(charset="UTF-8")
			title Document
			link(rel='stylesheet', href='css/style.css')
		body
			div(class="wrapper")
				include _partial/toolbar
				include _partial/container