<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet" href="../source/css/base.css")
	header
		h1 Hello
	div(class="wrapper")
		p Container
		include index.jade
	footer
		p CopyRight
body
